body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex; 
  color: white;
  margin: auto;
}

.p-card  {
  margin: auto;
  margin-top: 5em;
}

.p-card .p-card-footer {
    padding: 0rem 0 0 0;
}

.p-inputgroup {
    margin-block-end: 1em;
}

.p-card-header img {
    width: 100%;
    margin-top: -4em;
}

input.p-inputtext.p-component:focus {
    box-shadow: 0 0 black!important;
}
